html{
    font-family: arial, sans-serif;
    line-height: 1.20;
}
html, body{
    font-size: 1rem;
    color: #212529;
    text-align: justify;
    background-color: aliceblue;
    margin: 0;
    height: 100%;
    background: #fff;
    color: #222;    
}

div{
    display: block;
}
#upper-box{
    float: right;
    flex: 1 1 auto;
    order: 1;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 0!important;
    margin-right: 0!important;
    white-space: nowrap;
    display: flex;


}
a{
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 15px;
}
a:hover{
    opacity: .85;
    text-decoration: underline;
}
center{
    width: 100%;
}
#logo-box{
    display: flex;
    position: relative;
    top: 120px;
    width: 100%;
}
#logo{
    background-size: 272px 92px;
    height: 92px;
    width: 272px;
}
#form-s{
    width: 100%;
    display: flexbox;
    position: absolute;
    top: 311px;
}
#form-s > input{
    position: relative;
}
form{
    margin: 0 auto;
}
#form-text-s{
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    padding-top: 6px;
    width: 582px;
    flex: 1;
    flex-wrap: wrap;
    position: relative;
}
#form-text-s:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#form-text-s > div{
    flex: 1;
    display: flex;
    padding: 9px 8px 0 16px;
    padding-left: 14px;
}
.searchText{
    background-color: transparent;
    border: none;
    margin: 0 auto;
    padding: 0;
    flex: 100%;
    margin-top: -37px;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    white-space: pre;
}
.btn-search {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
  
.btn-search:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;

}


